%div{ :class => 'span-24 last', :id => 'footer' }
  %hr
  %div{ :class => 'associations span-16' }
    %p
      %a{ :class => :lchc, :href => 'http://dev.lchc.ucsd.edu/home', :title => 'Laboratory of Comparative Human Cognition'}
      %a{ :class => :ucsd, :href => 'http://www.ucsd.edu', :title => 'University of California, San Diego'}

  %div{ :class => 'meta span-8 last' }
    %p
      &copy; 2011 Laboratory of Comparative Human Cognition
      %br
      = link_to 'About', 'http://dev.lchc.ucsd.edu/about'
      |
      = link_to 'Terms & Conditions', 'http://dev.lchc.ucsd.edu/terms'
      |
      = link_to 'Site Map', 'http://dev.lchc.ucsd.edu/sitemap'
      |
      = link_to 'Contact', 'http://dev.lchc.ucsd.edu/contact'
